[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
openpyxl = "*"
django-background-tasks = "*"
django-cors-headers = "*"
flask = "*"
weixin-python = "*"

[requires]
